@addTagHelper *, LazZiya.TagHelpers
@using OnlineShoppingStore.Application.SiteServices.Products.Queries.GetAllProductsInSite
@model ResponseGetAllProductsInSiteDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["page"], out pageNumber);
    int.TryParse(Context.Request.Query["pageSize"], out pageSize);
}


<!-- Start Content -->
<div class="container py-5 rtl">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-md-12 pb-3">
                    <div class="d-flex align-items-center position-relative">
                        <i class="fa fa-search position-absolute text-black-50"></i>
                        <input class="form-control border-0 bg-whitesmoke" type="text" style="padding-right:25px;"
                               placeholder="جستجو در محصولات زیر...">
                    </div>
                </div>
            </div>
            <div class="row">
                <h1>Category</h1>
            </div>
        </div>

        <div class="col-lg-9">
                    <ul class="sort-filters-container list-inline shop-top-menu">
                        <li class="list-inline-item">
                            <span class="text-black-50 ml-10">
                                مرتب سازی:
                            </span>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=TheNewest">
                                جدیدترین
                            </a>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=MostVisited">
                                بیشترین بازدید
                            </a>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=BestSelling">
                                پرفروش‌ترین
                            </a>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=MostLikes">
                                محبوب‌ترین
                            </a>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=LowestPrice">
                                ارزان‌ترین
                            </a>
                            <a class="text-dark text-decoration-none mr-5"
                               href="~/Products?Searchkey=@Context.Request.Query["Searchkey"]&CatId=@Context.Request.Query[""]&Ordering=HighestPrice">
                                گران‌ترین
                            </a>
                        </li>
                    </ul>
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-2">
                            <div class="card rounded-2">
                                <img class="card-img rounded-2 img-fluid" src="~/@item.ImgSrc">
                                <div class="card-img-overlay rounded-2 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="~/products/details/@item.Id"><i class="fa fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="#"><i class="fa fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="~/products/details/@item.Id" class="h3 text-decoration-none">@item.Name</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">@item.Price.ToString("n0")</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div div="row">
                <paging total-records="@Model.TotalRow"
                        page-no="@(pageNumber==0?1:pageNumber)"
                        page-size="@(pageSize==0?20:pageSize)"
                        show-prev-next="true"
                        show-total-pages="false"
                        show-total-records="false"
                        show-page-size-nav="true"
                        show-first-numbered-page="true"
                        show-last-numbered-page="true"
                        query-string-key-page-no="Page"
                        query-string-key-page-size="PageSize"
                        query-string-value="@@(Request.QueryString.Value)"
                        gap-size="2">
                </paging>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
