@using OnlineShoppingStore.ViewModels.Home;
@model HomeIndexViewModels;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _sliderCount = 1;
}

<!-- Start Main Banner -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        @for (int i = 1; i <= Model.Slider.Count - 1; i++)
        {
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="@i"></li>
        }

    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model.Slider)
        {
            if (_sliderCount == 1)
            {
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="~/@item.Src">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center rtl justify">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success">@item.Title</h1>
                                    <h3 class="h2">@item.PreTitle</h3>
                                    <p>
                                        @item.Paragraph
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="~/@item.Src">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center rtl justify">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1">@item.Title</h1>
                                    <h3 class="h2">@item.PreTitle</h3>
                                    <p>
                                        @item.Paragraph
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            _sliderCount++;
        }

    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
<!-- End Main Banner-->
